importlib-metadata==1.6.1
numexpr==2.7.1
numpy==1.18.5
nvidia-ml-py3==7.352.0
packaging==20.4
pandas==1.0.4
Pillow==7.1.2
preshed==3.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
torch==1.5.0
torchvision==0.6.0
