-f https://download.pytorch.org/whl/torch_stable.html
click==7.1.2
Flask==1.1.2
future==0.18.2
itsdangerous==1.1.0
gunicorn==19.5.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.19.0
Pillow==7.2.0
PyYAML==5.3.1
torch==1.5.0+cpu
torchvision==0.6.0+cpu
Werkzeug==1.0.1
